<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - ITD Finance</title>
        @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="icon" href="~/fav.svg" type="image/x-icon" />
        @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="~/logo.jpg" alt="Logo" />
            </div>

            <!-- Навигационни линкове -->
            <a asp-controller="Home" asp-action="Index">Начало</a>
            <a asp-controller="Home" asp-action="About">За нас</a>
            <!-- Dropdown Button with Arrow -->
            <div class="dropdown">
                <button class="dropbtn">
                    Калкулатори <span class="arrow">▼</span>
                </button>
                <div class="dropdown-content">
                    <a asp-controller="Credit" asp-action="Index">Кредитен калкулатор</a>
                    <a asp-controller="Refinance" asp-action="Index">Калкулатор за рефинансиране</a>
                    <a asp-controller="Lease" asp-action="Index">Лизингов калкулатор</a>
                </div>
            </div>
            <a asp-controller="Home" asp-action="Contact">Контакти</a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        @RenderBody()
        <footer class="footer">
            <div class="footer-left">
                <img src="~/logo.jpg" alt="Logo" class="footer-logo" />
            </div>
            <div class="footer-buttons">
                <button>Начало</button>
                <button>Калкулатори</button>
                <button>Контакти</button>
            </div>
            <p>&copy; 2024 Всички права запазени</p>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </footer>
        <button onclick="scrollToTop()" id="scrollTopButton">&#x25B2;</button>
        @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
        @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
