@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@section Styles {
    <link rel="stylesheet" href="~/css/error.css" />
}

<div class="error-container">
    <h1>Oops! Something went wrong.</h1>
    <p>
        @if (this.Model.StatusCode == 404)
        {
            <span>The page you are looking for could not be found (404).</span>
        }
        else
        {
            <span>An unexpected error occurred. Please try again later.</span>
        }
    </p>

    <a asp-controller="Home" asp-action="Index">Go Back to Homepage</a>
    <div class="animation"></div>
</div>
