@{
    ViewData["Title"] = "Credit Calculator";
}

@section Styles {
    <link rel="stylesheet" href="~/css/credit.css" />
}

@section Scripts {
    <script src="~/js/credit.js"></script>
}

<section>
    <form method="post" asp-action="Calculate" class="calculator">
        <!-- Заглавие над формуляра -->
        <div class="calculator-title">Кредитен калкулатор</div>
        <h4>Пресметнете месечни вноски и ГПР (годишен процент на разходите)</h4><br>

        <!-- Първите четири полета, разположени две по две -->
        <div class="field-group two-columns">
            <div class="field">
                <input type="number" id="loanAmount" name="LoanAmount" step="0.01" min="100" required placeholder=" " />
                <label for="loanAmount">Размер на кредита*</label>
            </div>
            <div class="field">
                <input type="number" id="loanTerm" name="LoanTermInMonths" min="1" max="960" required placeholder=" " />
                <label for="loanTerm">Срок(месеци)*</label>
            </div>
            <div class="field">
                <input type="number" id="annualInterestRate" name="AnnualInterestRate" step="0.01" min="0" required placeholder=" " />
                <label for="annualInterestRate">Лихва(%)*</label>
            </div>
            <div class="dropdown-field">
                <input type="hidden" id="hiddenPaymentType" name="PaymentType">
                <input type="text" id="paymentType" placeholder=" " required readonly>
                <label for="paymentType">Избор</label>
                <div class="dropdown-menu" id="dropdown-menu">
                    <div data-value="annuity" data-text="Анюитетни вноски">Анюитетни вноски</div>
                    <div data-value="decreasing" data-text="Намаляващи вноски">Намаляващи вноски</div>
                </div>
            </div>
        </div>

        <!-- Останалите полета, разположени вертикално -->
        <span class="toggle-btn" onclick="toggleFields('group2')">▼ Промоционален период(месеци)</span>
        <div id="group2" class="field-group hidden">
            <div class="field full-width">
                <input type="number" id="promotionalPeriod" name="PromotionalPeriodMonths" min="0" max="300" placeholder=" " />
                <label for="promotionalPeriod">Промоционален период(месеци)</label>
            </div>
            <div class="field full-width">
                <input type="number" id="annualPromotionalInterestRate" name="AnnualPromotionalInterestRate" step="0.01" min="0" placeholder=" " />
                <label for="annualPromotionalInterestRate">Промоционална лихва(%)</label>
            </div>
            <div class="field-with-select full-width">
                <input type="number" id="gracePeriod" name="GracePeriodMonths" min="0" placeholder=" " />
                <label for="gracePeriod">Гратисен период(месеци)</label>
            </div>
        </div>

        <span class="toggle-btn" onclick="toggleFields('group3')">▼ Такси</span>
        <div id="group3" class="field-group hidden">
            <div class="field-group full-width">
                <div class="full-width"><p style="font-size: 16px; font-weight: bold;">Първоначални такси</p></div>
            </div>
            <!-- Три вертикални полета -->
            <div class="field-with-select full-width">
                <input type="number" id="applicationFee" name="ApplicationFee" step="0.01" min="0" placeholder=" " />
                <label for="applicationFee">Такса кандидатстване</label>
                <select id="applicationFeeType" name="ApplicationFeeType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>
            <div class="field-with-select full-width">
                <input type="number" id="processingFee" name="ProcessingFee" step="0.01" min="0" placeholder=" " />
                <label for="processingFee">Такса обработка</label>
                <select id="processingFeeType" name="ProcessingFeeType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>
            <div class="field-with-select full-width">
                <input type="number" id="otherInitialFees" name="OtherInitialFees" step="0.01" min="0" placeholder=" " />
                <label for="otherInitialFees">Други такси</label>
                <select id="otherInitialFeesType" name="OtherInitialFeesType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>

            <div class="field-group full-width">
                <div class="full-width"><p style="font-size: 16px; font-weight: bold;">Годишни такси</p></div>
            </div>
            <!-- Две по две полета -->
            <div class="field-with-select">
                <input type="number" id="annualManagementFee" name="AnnualManagementFee" step="0.01" min="0" placeholder=" " />
                <label for="annualManagementFee">Годишна такса управление</label>
                <select id="annualManagementFeeType" name="AnnualManagementFeeType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>
            <div class="field-with-select">
                <input type="number" id="otherAnnualFees" name="OtherAnnualFees" step="0.01" min="0" placeholder=" " />
                <label for="otherAnnualFees">Други годишни такси</label>
                <select id="otherAnnualFeesType" name="OtherAnnualFeesType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>
            <div class="field-group full-width">
                <div class="full-width"><p style="font-size: 16px; font-weight: bold;">Месечни такси</p></div>
            </div>
            <div class="field-with-select">
                <input type="number" id="monthlyManagementFee" name="MonthlyManagementFee" step="0.01" min="0" placeholder=" " />
                <label for="monthlyManagementFee">Месечна такса управление</label>
                <select id="monthlyManagementFeeType" name="MonthlyManagementFeeType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>
            <div class="field-with-select">
                <input ttype="number" id="otherMonthlyFees" name="OtherMonthlyFees" step="0.01" min="0" placeholder=" " />
                <label for="otherMonthlyFees">Други месечни такси</label>
                <select id="otherMonthlyFeesType" name="OtherMonthlyFeesType">
                    <option value="Currency">Валута</option>
                    <option value="Percentage">%</option>
                </select>
            </div>
        </div>
        <p>*Задължителни полета</p><br />
        <button id="submit-button" type="submit">Изчисли</button>
    </form>
</section>
