@model FinancialCalculator.Web.Dto.RefinanceInputDto

@{
    ViewData["Title"] = "Refinance Calculator";
    bool showError = this.TempData["ShowError"] as bool? ?? false;
}

@section Styles {
    <link rel="stylesheet" href="~/css/refinance.css" />
}

@section Scripts {
    <script src="~/js/refinance.js"></script>
}

<section>
    <form method="post" asp-action="Calculate" class="calculator-container">
        <h2>Калкулатор за Рефинансиране на кредит</h2>
        <br />
        <h5>Настоящ кредит:</h5>
        <br />

        @if (showError)
        {
            <div>
                <div asp-validation-summary="All" class="alert alert-danger" role="alert">
                </div>
            </div>
        }
        
        <div class="input-group-wrapper">
            <div class="input-group">
                <input type="text" id="loanAmount" name="LoanAmount" required placeholder=" " />
                <label for="loanAmount">Размер на кредита*</label>
            </div>
            <div class="input-group">
                <input type="text" id="annualInterestRate" name="AnnualInterestRate" required placeholder=" " />
                <label for="annualInterestRate">Лихва(%)*</label>
            </div>
            <div class="input-group">
                <input type="text" id="loanTerm" name="LoanTermInMonths" required placeholder=" " />
                <label for="loanTerm">Срок на кредита(месеци)*</label>
            </div>
        </div>
        <div class="input-group-wrapper">
            <div class="input-group">
                <input type="text" id="contributionsMade" name="ContributionsMade" required placeholder=" " />
                <label for="contributionsMade">Брой на направените вноски</label>
            </div>
            <div class="input-group">
                <input type="text" id="earlyRepaymentFee" name="EarlyRepaymentFee" required placeholder=" " />
                <label for="earlyRepaymentFee">Такса за предсрочно погасяване(%)*</label>
            </div>
        </div>
        <div class="show-more" onclick="toggleAdditionalFields()">
            &#x25BC; Нов кредит
        </div>
        <div class="additional-fields" id="additionalFields">
            <div class="input-group">
                <input type="text" id="newAnnualInterestRate" name="NewAnnualInterestRate" required placeholder=" " />
                <label for="newAnnualInterestRate">Лихва(%)*</label>
            </div>
            <div class="input-group">
                <input type="text" id="initialFee" name="InitialFee" required placeholder=" " />
                <label for="initialFee">Първоначални такси(%)*</label>
            </div>
            <div class="input-group">
                <input type="text" id="initialFeeCurrency" name="InitialFeeCurrency" required placeholder=" " />
                <label for="initialFeeCurrency">Първоначални такси(валута)*</label>
            </div>
        </div>
        <p5>*Задължителни полета</p5>
        <button type="submit" class="calculate-button">Изчисли</button>
    </form>
</section>
