body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #5b7f7f;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    width: 40%;
    height: auto;
    border-radius: 8px;
}

.text h2 {
    margin-bottom: 15px;
}

.text p {
    line-height: 1.6;
}

/* Редуване на позицията на изображенията */
section:nth-child(odd) .image {
    order: 1; /* За изображенията отдясно */
}

section:nth-child(even) .image {
    order: -1; /* За изображенията отляво */
}
