@{
    ViewData["Title"] = "About Us";
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css" />
}

<header>
    <h1>За нас</h1>
</header>
<section class="intro">
    <div class="content">
        <div class="text">
            <h2>Кой сме ние?</h2>
            <p>
                "Ние сме екип от професионалисти, посветени на това да ви
                предоставим точни и лесни за използване финансови инструменти.
                Създадохме платформата с мисията да улесним управлението на вашите
                финанси чрез интуитивни калкулатори и полезна информация. Независимо
                дали планирате покупка на жилище, вземане на кредит, спестяване или
                оптимизиране на бюджета, ние сме тук, за да ви помогнем да вземете
                информирани решения. Доверете ни се за ясни, надеждни и
                персонализирани решения за вашите финансови цели."
            </p>
        </div>
        <img src="~/placeholder_6.jfif" alt="Image right" class="image" />
    </div>
</section>
<section class="mission">
    <div class="content">
        <img src="~/placeholder_7.jpg" alt="Image left" class="image" />
        <div class="text">
            <h2>Мисия</h2>
            <p>
                "Нашата мисия е да предоставим на хората лесен достъп до надеждни
                финансови инструменти и информация, които да улеснят управлението на
                техните финанси. Стремим се да помагаме на всеки да планира,
                анализира и реализира своите финансови цели с увереност и яснота.
                Съсредоточени сме върху създаването на иновативни и достъпни
                решения, които да правят финансовото планиране по-разбираемо и
                достъпно за всички."
            </p>
        </div>
    </div>
</section>
<section class="vision">
    <div class="content">
        <div class="text">
            <h2>Визия</h2>
            <p>
                "Нашата визия е да бъдем водеща платформа за финансови решения,
                която вдъхновява и подкрепя хората да постигат финансовата си
                независимост и сигурност. Стремим се да създадем свят, в който всеки
                разполага с инструментите и знанията, необходими за вземане на
                информирани решения и успешно управление на личните си или бизнес
                финанси."
            </p>
        </div>
        <img src="~/placeholder_8.jpg" alt="Image right" class="image" />
    </div>
</section>
<section class="team">
    <div class="content">
        <img src="~/placeholder_9.jpg" alt="Image left" class="image" />
        <div class="text">
            <h2>Екип</h2>
            <p>
                "Нашият екип се състои от опитни професионалисти в областта на
                финансите, технологиите и потребителското обслужване. Обединени сме
                от общата цел да предоставяме точни, практични и лесни за използване
                финансови решения. Всеки от нас допринася със своите знания и опит,
                за да гарантира, че предлагаме качествени услуги, които отговарят на
                нуждите на нашите потребители. Работим с отдаденост и страст, защото
                вярваме, че доброто финансово планиране е основа за стабилен и
                успешен живот."
            </p>
        </div>
    </div>
</section>
